* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    border-bottom: 1px solid #E2E8F0;
    background-color: #222;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    /* margin-left: 5rem; */
    /* Adjusted margin */
    margin: 0 1rem;
}

.link {
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    transition: color 0.3s ease;
}

.link:hover {
    color: #482ff7;
}

.brand-logo {
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
}

/* Added container styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.content {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.content.active {
    opacity: 1;
    transform: translateY(0);
}

@media only screen and (max-width: 768px) {
    .menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #222;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .link {
        color: #fff;
    }

    .menu.active {
        left: 0;
    }

    .item {
        margin: 2.5rem 0;
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
.box {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 1.6rem; 
}
